# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
*.iml
.vscode/

# Secrets
.env
play-service-account.json
gen-lang-client-*.json
**/gen-lang-client-*.json
supabase/.secrets.google.env

# Platform
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/local.properties
**/android/key.properties
*.jks
